# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\django_projects\test_site\django_girls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
